__pycache__
wandb


stage2_DiT-XL_SigLIP2-B_tt_reg_data_lognormal-in_context_36_test.sh
test*.sh
configs/stage2/training/ImageNet256/test

.DS_store
/samples/
/results/
pretrained_models
read_and_plot/
sample_output/
log/
logs/
guided-diffusion/evaluations/imagenet-val-package-correct-no-transform.npz
guided-diffusion/evaluations/classify_image_graph_def.pb

read_and_plot_1step_data_tt_reg_60/
read_and_plot_1step_data_tt_reg_80/

/models/
__pycache__/
*.pth
.cache/
/checkpoints/
upload_to_hf.py
/*.png
/stats/
/data/
/ckpts/
data
/models/

logs/

recon_output/